
[Devices]
Valves = [00124b001d035fc2, 00124b001d035f83, 00124b001d036477, 00124b001d035f8d]
Cycles = 100000
Delay = [0, 0]
Wait_HB_after_comm = 0

[Connection]
IP = 192.168.0.25


# NOTE !!!
#
# Delay = [15, 3600]  -  set in seconds, for example, [15, 3600]
# Wait_HB_after_comm = 0  -  if 0 - we waiting only node_sc_data, if 1 - we waiting node_sc_data or node_sc_heartbeat after sent a command



